.orderInfoContainer {
  padding: 0 24px;
  width: 100%;
  background: white;
  margin-top: 32px;

  :global {
    .order-info-header {
      height: 80px;
      display: flex;
      align-items: center;
    }
  }
}
