@import "../../../style/main";

.footerContainer {
  background: #ffffff;
  height: 180px;

  :global {
    .content {
      .common-content();
      display: flex;
      align-items: center;
      justify-content: space-between;

      .footer-image1 {
        margin-left: 46px;
        width: 550px;
      }

      .content-right {
        margin-right: 46px;
        p {
          margin: unset;
          text-align: center;

          &:nth-of-type(1) {
            font-size: 14px;
            color: #bababa;
          }

          &:nth-of-type(2) {
            font-size: 24px;
            color: #010101;
          }

          &.connect {
            margin: 0 auto;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0 16px;
            background-color: #000000;
            color: blanchedalmond;
            border-radius: 20px;

            .connect-left {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }

}
