.label-common {
  margin-left: 16px;
  width: 80px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.productInfoContainer {
  height: 100%;
  margin-left: 24px;
  width: 60%;
  margin-right: 24px;

  :global {
    .title {
      margin-top: 16px;
      font-size: 24px;
    }

    .desc-info {
      margin-top: 16px;
      font-size: 16px;
    }

    /* 价格部分信息 */

    .price-content {
      padding: 14px 16px;
      background-color: #fff0f0;
      font-size: 14px;

      p.line {
        display: flex;
        align-items: center;
        margin: unset;
        height: 30px;
        line-height: 30px;

        span {
          line-height: 1;
        }

        .label {
          color: #333333;
          margin-right: 12px;
        }

        .price {
          color: #da0000;
          font-size: 22px;
        }

        .discount-icon {
          font-size: 12px;
          padding: 4px 6px;
          color: #da0000;
          border: 1px solid #da0000;
        }

        .desc {
          margin-left: 6px;
          color: #333333;
        }
      }
    }

    /* 描述信息板块 */

    .distribution {
      color: #333333;
      height: 55px;
      line-height: 55px;
      margin-top: 16px;
      margin-left: 16px;

      span {
        margin-right: 12px;
      }
    }

    /* 商品数据 - 限量和评价 */

    .product-information {
      height: 40px;
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;

      display: flex;
      align-items: center;
      justify-content: center;

      .info {
        width: 44.5%;
        margin: unset;
        text-align: center;

        .price {
          color: #da0000;
        }
      }

      .split {
        display: inline-block;
        width: 1px;
        height: 33px;
        background: #d3d3d3;
      }
    }

    /* 商品销售分类 */

    .sell-category {
      margin-top: 16px;
      display: flex;

      .label {
        .label-common();
      }

      .category-container {
        display: flex;
        flex-wrap: wrap;
        row-gap: 12px;

        .category-item {
          cursor: pointer;
          margin-right: 26px;
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #d3d3d3;

          &.active {
            border-color: #da0000;
          }

          &:hover {
            border-color: #da0000;
          }
        }
      }
    }

    /* 商品数量模块 */

    .sell-count {
      margin-top: 26px;
      display: flex;

      .label {
        .label-common();
      }


      .input-number-container {
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }

        input[type="number"] {
          -moz-appearance: textfield;
        }

        width: 72px;
        display: flex;

        .input-number {
          width: 40px;
          height: 40px;
          border: 1px solid #d3d3d3;
          text-align: center;

          :focus {
            outline: unset;
          }
        }

        .input-number-buttons {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 40px;
          width: 32px;

          span {
            cursor: pointer;
            height: 20px;
            line-height: 20px;
            width: 100%;
            color: #d3d3d3;
            text-align: center;

            &:hover {
              color: #da0000;
            }
          }

          .add {
            border-top: 1px solid #d3d3d3;
            border-right: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
          }

          .subtract {
            border-right: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
          }
        }
      }
    }

    .handle {
      margin: 36px 36px 36px 96px;

      .buy {
        color: white;
        background-color: #da0000;
      }

      .add-car {
        color: white;
        margin-left: 16px;
        background-color: #ff3608;
      }
    }
  }
}
