@import "../../style/main";

.productDetailContainer {
  :global {
    .detail-content {
      .common-content();

      .main-content {
        height: 530px;
        background-color: #ffffff;
        margin-top: 52px;

        display: flex;


      }
    }
  }
}
