//noinspection CssUnknownTarget
@import "~@src/style/main";

.orderDetailContainer {
  :global {
    .ant-spin-blur {
      opacity: 0;
    }

    .detail-content {
      .step-icon {
        font-size: 48px;
      }


      .common-content();
      background-color: white;
      margin-top: 24px;

      /* 进步条 */

      .detail-step {
        height: 200px;
        margin: 0 52px;

        display: flex;
        align-items: center;
        justify-content: center;


        .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
          color: @Green;
        }

        .ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
          color: @Green;
        }
      }

      /* 订单信息部分 */

      .order-info {
        display: flex;
        min-height: 300px;
        border: 1px solid @Gray1;


        .info {
          width: 380px;
          flex-shrink: 0;
          color: @Gray5;

          .info-header {
            height: 55px;
            line-height: 55px;
            padding-left: 24px;
            background-color: @Gray4;
            border-bottom: 1px solid @Gray1;
            display: flex;
            align-content: center;
          }

          .info-detail {
            padding-right: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 243px;
            row-gap: 18px;
          }
        }

        .order-status {
          border-left: 1px solid @Gray1;
          display: flex;

          padding-left: 48px;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          row-gap: 12px;

          .order-status-info-item {
            font-size: 22px;

            .label {
              display: flex;
              align-items: center;
              width: 160px;
            }

            .value {
              display: flex;
              align-items: center;
            }

            .icon {
              margin-right: 12px;
              color: @Green;
            }
          }

          .transportation-status {
            color: @Orange;
          }
        }
      }

      /* 商品信息列表 */
      .detail-table {
        border: 1px solid @Gray1;

        background-color: white;
        margin-top: 42px;

        .ant-table-thead .ant-table-cell {
          background-color: @Gray4;
        }
      }

      /* 其他附加信息 */
      .extend-info {
        font-size: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        align-items: flex-end;
        padding: 36px 24px 24px;
      }
    }
  }
}
