@import "~@src/style/main";

.hasHover:hover {
  transition: box-shadow .5s;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.productCardContainer {
  overflow: hidden;
  background-color: #fff;
  height: 330px;
  text-align: center;
  cursor: pointer;

  :global {
    p {
      margin: 4px 0 6px;
    }

    #image-container {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;

      img.primary-image {
        height: 200px;
        //width: 100%;
      }
    }


    .title {
      margin-top: 10px;
      font-size: 16px;
    }

    .desc {
      font-size: 12px;
      color: #747474;
    }

    .price {
      display: flex;
      justify-content: center;
      align-items: center;

      .price, .discount-price {
        font-size: 18px;
        color: @primary-color;
      }

      .source-price {
        font-size: 14px;
        color: #868686;
      }
    }
  }
}
