//noinspection CssUnknownTarget
@import "~@src/style/main";

.orderAddressContainer {
  padding: 32px 24px;
  width: 100%;
  background: white;
  margin-top: 32px;

  :global {
    .address-list {
      margin-top: 12px;

      display: flex;

      .address-item {
        width: 308px;
        height: 168px;
        border: 1px solid @Gray1;
        border-radius: 4px;
        padding: 18px 22px;

        &:hover {
          .common-hover-shadow();
        }

        .info {
          display: flex;
          justify-content: space-between;

          .name {
            font-size: 20px;
          }

          .handle {
            a {
              color: @Blue;
            }
          }
        }

        .phone {
          font-size: 18px;
          margin-bottom: 6px;
        }

        .address-desc {
          font-size: 16px;
          overflow: hidden;
          display: -webkit-box; // 将对象作为弹性伸缩盒子模型显示 。
          text-overflow: ellipsis; // 可以用来多行文本的情况下，用省略号“...”隐藏超出范围的文本 。
          -webkit-box-orient: vertical; // 设置或检索伸缩盒对象的子元素的排列方式 。
          -webkit-line-clamp: 2; // 限制在一个块元素显示的文本的行数。
        }
      }
    }
  }
}
