.sortTypeContainer {
  height: 50px;
  display: flex;
  align-items: center;

  :global {
    .item:first-of-type {
      margin: 0 24px 0 0;
    }

    .item:not(:first-of-type) {
      margin: 0 24px;
    }
  }
}
