@import "../../../style/main";

.categoryNavContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 570px;
    background-color: rgba(61, 57, 57, .95);

    :global {
        .ant-menu {
            color: #ffffff;
            background: transparent;
            border-right: unset;
        }

        .ant-menu-item {
            background: rgba(61, 57, 57, .95);
        }
    }
}
